In [6]:
import torch
from torch import nn

import torchvision
import sklearn
from torchvision import datasets
from torchvision import transforms
from torchvision.transforms import ToTensor

import matplotlib.pyplot as plt

In [7]:
from sklearn.datasets import make_circles

In [8]:
#make 10000 samples
n_samples = 10000

In [11]:
#make circles,keep random state so get same values
X,y=make_circles(n_samples,noise=0.03,random_state=42)

In [12]:
print(f"First 5 X features:\n{X[:5]}")
print(f"\nFirst 5 y labels:\n{y[:5]}")

First 5 X features:
[[ 0.0464692   0.82477834]
 [ 1.00506323 -0.43335153]
 [-0.58348442  0.79452834]
 [ 0.98478298 -0.32517879]
 [ 0.82993028 -0.54722305]]

First 5 y labels:
[1 0 0 0 0]

In [13]:
#Make DF of circle data
import pandas as pd
circles = pd.DataFrame({"X1": X[:, 0],
    "X2": X[:, 1],
    "label": y
})
circles.head(10)

         X1        X2  label
0  0.046469  0.824778      1
1  1.005063 -0.433352      0
2 -0.583484  0.794528      0
3  0.984783 -0.325179      0
4  0.829930 -0.547223      0
5 -0.133929  0.776249      1
6  0.779197  0.645811      0
7  0.722955  0.173831      1
8 -0.121807  0.796951      1
9  0.849529  0.505678      0